<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3"> 
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, :required => true%>
  </div>

  <div class="mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body, :required => true %>
  </div>

  <div class="mb-3">
    <%= form.label :time_to_read, style: "display: block" %>
    <%# <%= form.text_field :time_to_read %>
    <%= form.text_field :time_to_read, :required => true %>
  </div>
  <div class="form-group ">
    <label for="blogRelatedImage">Add Relevent Image</label><br/>
    <%= form.file_field :avatar, :required => true %>
  </div>

<select class="js-example-basic-multiple" name="states" multiple="multiple">
  <% @labels.each do |l|%>
          <option value="<%= l.id %>"><%= l.label_name %></option>
        <%end%><br/><br/>
</select>














  <div class="content">
    <h2 class="text-center">Multi-Select #9</h2>
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-md-5">

        <input placeholder="Enter search term" aria-label="Enter search term">  
        <select placeholder="Enter search term" aria-label="Enter search term" >
            
            <option>Design</option>
            <option>HTML5</option>
            <option>CSS3</option>
            <option>jQuery</option>
            <option>BS4</option>
            <option>Bootstrap</option>
            <option>WordPress</option>
            <option>FrontEnd</option>
        </select>
        </div>
        </div>
      </div>
    </div>

    


  
  
  <%# <div class="form-group ">
    <%= form.text_field :user_id,id: :post_user_id,:required => true, value:current_user.id%>
  <%# </div> %>
  <%=%>
  <br/><br/><br/> 
  <div class="mt-5">
   <%= form.submit%>
    
  </div>

<% end %>


